facexlib
insightface
nvidia-pyindex==1.0.9
#flash-attn==2.5.8
cpm_kernels
lark-parser
gguf
blend_modes
mediapipe
svglib
fvcore
yacs
trimesh[easy]
albumentations
wget
typer_config
rich
google-generativeai
ultralytics>=8.2.0
blind-watermark
qrcode
pyzbar
transparent-background
#apex
