*.json
*.json.1
!anime.json
!default.json
!playground_v2.5.json
!pony_v6.json
!realistic.json
!sai.json
!Kolors🚀.json
!Kolors.json
!SD3x.json
!HyDiT.json
!Flux.json
!Flux🚀.json
!Tile.json
!KolorsT.json
!FluxAIO.json
!KolorsAIO.json
!SD15AIO.json
!Happy.json
!ClothingSwap.json
